<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gma.medicalassistantdr">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="ACTION_LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MessageActivity"
            android:label="@string/message_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />

            <intent-filter>
                <action android:name="ACTION_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DrManagementActivity"
            android:label="@string/dr_mgmt_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />

            <intent-filter>
                <action android:name="ACTION_DR_MANAGEMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PtManagementActivity"
            android:label="@string/pt_mgmt_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />

            <intent-filter>
                <action android:name="ACTION_PT_MANAGEMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PaymentManagementActivity"
            android:label="@string/payment_mgmt_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />

            <intent-filter>
                <action android:name="ACTION_PAYMENT_MANAGEMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActManagementActivity"
            android:label="@string/act_mgmt_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />

            <intent-filter>
                <action android:name="ACTION_ACTIVITY_MANAGEMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/profile_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />

            <intent-filter>
                <action android:name="ACTION_PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddDrActivity"
            android:label="@string/add_dr_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DrManagementActivity" />

            <intent-filter>
                <action android:name="ACTION_ADD_DR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddPtActivity"
            android:label="@string/add_pt_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PtManagementActivity" />

            <intent-filter>
                <action android:name="ACTION_ADD_PT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PtDetailsActivity"
            android:label="@string/pt_details_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PtManagementActivity" />

            <intent-filter>
                <action android:name="ACTION_PT_DETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>